.editor {
    min-width: 60%;
    flex-grow: 2;
    position: relative;
}

.editorFilesOpened{
    height: 5.2%;
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #262626;
}

.editFile{
    height: 95%;
}

.code{
    height: 100%;
    width: 100%;
}

.runButton{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.editorFilesOpenedHeading{
    size: 1rem;
    margin-top: 0.4%;
    margin-left: 1%;
    width: 8%;
}

.outputContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.success{

}

.error{
    color: red;
}

.spaceTimeContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeUsed{
    color: green;
    text-align: center;
}