.folderChildren {
    margin-left: 10%;
}

.folderActionDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
}

.folderForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.folderFormButton{
    margin: auto 7px;
}