.headerBrand{
    color: white !important;
}
.header {
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: space-between;
}
.heading {
    padding: 5px 10px
}
.login {
    padding: 5px 10px
}